/* img{
    margin-top: 20px;
    position: sticky;
    top: 0px;
    left: 0px;
} */
@font-face {
    font-family:font ;
    src: url(./wallpaperssss/hemi.ttf.otf);
}
nav{
    display: flex;
    background-color:black;
    position: sticky;
    top: 0%;
}
body{
    margin: 0%;
    padding: 0%;
    background-color: grey;
}

#cont{
    display: flex;
    list-style-type: none;
    font-family: font;
    margin: 0%;
    padding: 0%;  
}
a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}
a:hover{
    background-color: white;
    color:orange;
    transition: 200ms;
}
#menu{
    list-style-type: none;
    padding: 0%;
    position:absolute;  
    display: none;
}
#drop:hover #menu{
    display: block;
    background-color: black;
    transition: 200ms
}
